<?xml version="1.0"?>
<config>
  <modules>
    <Iridiumcorp_Tpg>
      <version>0.1.0</version>
    </Iridiumcorp_Tpg>
  </modules>
  
  <global>
    <models>
      <tpg>
        <class>Iridiumcorp_Tpg_Model</class>
      </tpg>
    </models>
    <resources>
      <tpg_setup>
        <setup>
          <module>Iridiumcorp_Tpg</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </tpg_setup>
      <tpg_write>
        <connection>
          <use>core_write</use>
        </connection>
      </tpg_write>
      <tpg_read>
        <connection>
          <use>core_read</use>
        </connection>
      </tpg_read>
    </resources>
    <blocks>
      <tpg>
        <class>Iridiumcorp_Tpg_Block</class>
      </tpg>
    </blocks>
    <!-- Define the helper class type -->
    <helpers>
      <Tpg>
        <class>Iridiumcorp_Tpg_Helper</class>
      </Tpg>
      <tpg>
        <rewrite>
          <data>Iridiumcorp_Tpg_Helper_Data</data>
        </rewrite>
      </tpg>
    </helpers>
  </global>

  <frontend>
    <secure_url>
      <tpg>/tpg/standard</tpg>
    </secure_url>
    <routers>
      <tpg>
        <use>standard</use>
        <args>
          <module>Iridiumcorp_Tpg</module>
          <frontName>tpg</frontName>
        </args>
      </tpg>
    </routers>
    <translate>
      <modules>
        <Iridiumcorp_Tpg>
          <files>
            <default>Iridiumcorp_Tpg.csv</default>
          </files>
        </Iridiumcorp_Tpg>
      </modules>
    </translate>
  </frontend>
  
  <!-- declare default configuration values for this module -->
  <default>
    <payment>
      <tpg>
        <active>1</active>
        <model>tpg/direct</model>
        <order_status>pending</order_status>
        <title>Iridium Corporation</title>
        <hashmethod>sha1</hashmethod>
        <paymentprocessordomain>iridiumcorp.net</paymentprocessordomain>
        <paymentprocessorport>443</paymentprocessorport>
        <hostedpaymentactionurl>https://mms.iridiumcorp.net/Pages/PublicPages/PaymentForm.aspx</hostedpaymentactionurl>
        <transparentredirectactionurl>https://mms.iridiumcorp.net/Pages/PublicPages/TransparentRedirect.aspx</transparentredirectactionurl>
        <payment_action>capture</payment_action>
        <mode>direct</mode>
        <cv2mandatory>1</cv2mandatory>
        <address1mandatory>1</address1mandatory>
        <citymandatory>1</citymandatory>
        <statemandatory>1</statemandatory>
        <postcodemandatory>1</postcodemandatory>
        <countrymandatory>1</countrymandatory>
        <resultdeliverymethod>POST</resultdeliverymethod>
        <serverresulturl></serverresulturl>
        <paymentformdisplaysresult>0</paymentformdisplaysresult>
        <allowspecific>0</allowspecific>
      </tpg>
    </payment>
  </default>
</config>