<?xml version="1.0"?>
<config>
    <modules>
      <Iridiumcorp_Sales>
         <version>0.0.1</version>
      </Iridiumcorp_Sales>
    </modules>
   <global>
   	  <models>
        <sales>
          <rewrite>
            <order>Iridiumcorp_Sales_Model_Order</order>
            <order_invoice>Iridiumcorp_Sales_Model_Order_Invoice</order_invoice>
          </rewrite>
        </sales>
      </models>
   </global>
</config>